<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDua12QFOn-w9JykmpMxdJJX6E5qSkuQao</string>
	<key>GCM_SENDER_ID</key>
	<string>703516290103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testprojmobile.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>testprojmobile-4c9db</string>
	<key>STORAGE_BUCKET</key>
	<string>testprojmobile-4c9db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703516290103:ios:04bbe30682734365e363b2</string>
</dict>
</plist>